/*font-family style*/
* {
  margin: 0;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*body-style*/
body {
  background-color: #F5F8FF;
}

/*header style*/
header {
  margin: 0 150px;
}

/*nav style*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  text-align: center;
}

.nav-ul {
  display: flex;
  align-items: center;
}

nav li,
.logo li {
  list-style: none;
  padding-right: 3rem;
}

nav li a,
.logo a {
  text-decoration: none;
  color: #252432;
  font-weight: 700;
}

nav ul li:nth-child(2) a,
li:nth-child(3) a {
  color: #8987A1;
}

/*banner-style*/
.banner-contents {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.primary-title {
  color: #E95A08;
}

.banner-title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

.banner-image {
  width: 100%;
}

.banner-image img {
  width: 100%;
}

.banner-description {
  width: 70%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.50);
}

/*main style*/
main {}

.plants {
  text-align: center;
  margin-top: 120px;
}

.section-title {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 5px;
}

.section-description {
  color: rgba(0, 0, 0, 0.50);
  font-size: 20px;
}

/*section style*/
section {
  margin: 0px 150px 120px 150px;
}

/*card style---------*/
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.card img {
  width: 100%;
}

.card-btn {
  background-color: #E95A08;
  color: white;
  padding: 15px 50px;
  font-size: 15px;
  border: none;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
}

.card-subtitle {
  font-size: 16px;
  font-weight: bold;
}

/*plants lover style*/
.pl-contents {
  display: flex;
  gap: 60px;
}

.pl-title {
  font-size: 45px;
  font-weight: bold;
}

.pl-ul {
  color: #8987A1;
  font-size: 18px;
}

.pl-ul li {
  padding-bottom: 10px;
}

/*join section style*/
.join {
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  padding: 100px 250px;
  text-align: center;
  margin: 0;
}

.join-btn {
  background-color: #E95A08;
  padding: 15px 20px;
  border: none;
  color: white;
  font-size: 18px;
}

.join-title {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.join-input {
  padding: 15px 400px 15px 20px;
  font-size: 16px;
}
.join-input-content {
  display: flex;
}
/*footer styles*/
footer{
  padding:40px 140px ;
}
.footer-contents{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:100px;
}
.footer-description{
  color:rgba(0, 0, 0, 0.5);
font-size: 16px;
font-weight: 400;
}
.footer-img{
  padding-bottom: 20px;
}
footer ul li{
  list-style: none;
  padding:0px 10px 30px 0px
  
}
footer ul li a{
  text-decoration: none;
  color: rgb(107, 114, 128);
  font-size: 14px;
  font-weight: 400;
}
.footer-icons{
  display: flex;
  gap:20px;
  align-items:flex-start;
}
.footer-icons img{
  width: 30px;
  height: 30px;
}

@media screen and (max-width:576px) {
  header {
    margin: 0;
  }

  nav {
    margin-bottom: 50px;
  }

  .logo li {
    padding-right: 0;
  }

  nav ul li {
    display: none;
  }

  .banner-contents {
    flex-direction: column-reverse;
  }
.banner{
  margin: 0px 10px 70px 10px;
}
  .banner-title {
    font-size: 30px;
  }

  .banner-description {
    width: 100%;
  }

  /*main style*/
  main {
    margin: auto;
  }

  /*card responsive*/
  .plants{
    margin: 70px 10px 0px 10px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-btn {
    padding: 10px 30px;
  }

  .section-subtitle {
    padding: 10px;
  }
  .section {
    margin: 0px 10px 50px 20px;
  }
  /*plants lover styles*/
  .pl-contents {
    flex-direction: column;
    gap: 0;
  }
  .plant-lovers{
    margin: 70px 10px 0px 10px;
  }
  /*join styles*/
  .join{
    padding: 50px;
    margin-top: 70px ;
  }
  .join-title{
    font-size: 30px;
  }
  .join-input {
    padding: 10px 25px 10px 15px;
  }
  .join-btn{
    padding: 10px 7px;
  }
  /*footer style*/
  footer{
  padding:20px 10px ;
}
  .footer-contents{
  grid-template-columns: repeat(1,1fr);
  gap:20px;
  }
}